doctype html
html
  include header.jade
  body
    .contain
      .twelve.col
        h1 <a href="/">METAL<span style="color: #999;">WORK</span></a>
        hr
      .eight.col
        h3= title
        p(style='color: #666;')= moment(date).format('MMMM Do YYYY')
        div!= contents
        if previous
          p(style='text-align: right; float: right;'): a(href="/#{previous.path}/") #{previous.title + ' >>'}
        if next
          p(style='text-align: left; float: left;'): a(href="/#{next.path}/") #{'<< ' + next.title} 
        hr
      .four.col
        include nav.jade
      .twelve.col
        include footer.jade
