doctype html
html
  include header.jade
  body
    .contain
      .twelve.col
        h1 <a href="/">METAL<span style="color: #999;">WORK</span></a>
        hr
      .eight.col
        h3= title
        p(style='color: #666;')= moment(date).format('MMMM Do YYYY')
        div!= contents
        if previous
          p: a(href="#{'/' + previous.path + '/'}") Previous | #{previous.title} 
        if next
          p: a(href="#{'/' + next.path + '/'}") Next | #{next.title}
        hr
      .four.col
        include nav.jade
      .twelve.col
        include footer.jade
